.defaultBtn {
  border: none;
  background-color: #60d1a9;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 16px;
}

.rounded {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #60d1a9;
  width: 62px;
  height: 62px;
  &:hover {
    background-color: #60d1a9;
    path {
      stroke: #fff;
    }
  }
}

.secondary {
  border: none;
  background-color: white;
  color: #000000;
  border-radius: 6px;
  padding: 10px 24px;
  //   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.loading {
  display: inline-block;
  margin-left: 5px;
  svg {
    width: 20px;
    height: 20px;
  }
}
