@import "../../styles/variables";

.themeColor {
  background: linear-gradient(to right, $main-color, #31e0df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  padding: 20px;
}

.serviceTitle {
  font-weight: 700;
  font-size: 22px;
}

.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 51px;

  p {
    font-size: 26px;
    font-weight: 700;
    color: #707070;
    margin-top: 41px;
    margin-bottom: 0;
  }
}

.button {
  padding: 16px 46px;
  margin-top: 44px;
  font-weight: 700;
  font-size: 22px;
}

.mytrip {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.loading {
  display: inline-block;
  width: 100%;
  margin: 30px auto;
  svg {
    width: 80px;
    height: 80px;
    circle {
      stroke: #60d0a833;
    }
  }
}

.wishTrip {
  margin-top: 70px;
}
