.modal {
  z-index: 100;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 515px;
  border-radius: 10px;
  padding: 35px;
  .closeBtn {
    position: absolute;
    top: 35px;
    right: 35px;
  }
  h2 {
    margin: 0;
    text-align: center;
  }
}

.overlay {
  max-width: 100%;
  background-color: black;
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}
