.nav {
  border-bottom: 1.25px solid #dfdfdf;
  .inner {
    display: flex;
    align-items: center;
    background-color: #ffffff;

    padding: 20px 0;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.buttonAlign {
  button + button {
    margin-left: 20px;
  }
}
