.nav {
  border-bottom: 1.25px solid #dfdfdf;
  .inner {
    display: flex;
    align-items: center;
    background-color: #ffffff;

    padding: 20px 0;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.loading {
  display: inline-block;
  svg {
    width: 30px;
    height: 30px;
    circle {
      stroke: #60d0a833;
    }
  }
}

.buttonAlign {
  button + button {
    margin-left: 20px;
  }
}
