.schedule {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0 auto;
  .input {
    font-size: 22px;
    padding: 30px 80px;
    border-radius: 45px;
    border: 3px solid #60d1a9;
    min-width: 250px;
    display: flex;
    margin-bottom: 35px;
    .container {
      display: flex;
      transition: 0.2s max-width ease-out;
    }
    label {
      color: #60d1a9;
      font-weight: 700;
      margin-right: 30px;
    }
    .selected {
      color: #000;
    }
    input {
      width: 100%;
      color: #707070;
      font-weight: 700;
      font-size: 22px;
      border: none;
    }

    span {
      padding: 1px 2px; // input 기본 패딩이랑 마추기
    }
  }
  .calander {
    td {
      border: none;
    }
  }
}
