.card {
  width: 282px;
  height: 118px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
